.movies-container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;

  .top-bar {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: center;

    .sortby,
    .theater,
    .date {
      height: 30px;
      margin-left: 10px;
    }

    .dropdown-item {
      svg {
        margin-right: 4px;
        width: 16px;
        height: 16px;
        margin-bottom: -3px;
      }
    }
  }

  .movies-list {
    margin-top: 20px;

    .movie-card-container {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
      padding: 14px;
      border-radius: 4px;
      background-color: #fafafa;

      .shows {
        .show {
          display: inline-block;
          margin-right: 10px;
          margin-top: 4px;
          border-radius: 4px;
          padding: 3px;
          padding-left: 10px;
          padding-right: 10px;
          background-color: $accent-color;
          color: white;
          cursor: pointer;
          &:hover {
            background-color: $accent-color-dark;
          }
        }
      }

      .movie-card {
        .movie-title {
          font-family: "Poppins", monospace;
          font-weight: bold;
          font-size: 18px;
          display: inline-block;
        }

        .genre {
          color: grey;
          font-style: italic;
        }

        .metadata {
          float: right;
          font-size: 14px;
          font-style: italic;
          svg {
            width: 14px;
            margin-bottom: -2px;
            height: 14px;
          }

          .duration,
          .rating {
            display: inline-block;
          }
          .duration {
            margin-left: 12px;
          }

          .rating {
            svg {
              margin-right: 4px;
            }
          }
        }
        .persons {
          font-size: 14px;
          color: grey;
        }
      }
    }
  }
}
